\%form
\.form-group
\%label{:for =&gt; "exampleInputEmail1"} Email address
\%input#exampleInputEmail1.form-control{"aria-describedby" =&gt; "emailHelp", :placeholder =&gt; "Enter email", :type =&gt; "email"}/
\%small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
\.form-group
\%label{:for =&gt; "exampleInputPassword1"} Password
\%input#exampleInputPassword1.form-control{:placeholder =&gt; "Password", :type =&gt; "password"}/
\.form-group.form-check
\%input#exampleCheck1.form-check-input{:type =&gt; "checkbox"}/
\%label.form-check-label{:for =&gt; "exampleCheck1"} Check me out
\%button.btn.btn-primary{:type =&gt; "submit"} Submit
